@import url('sharpie.css');
@import url('open sans.css');

body {
    font-family: "Open Sans", san-serif;
    margin: 0;
    position: relative;



}


.flex-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    background-color: black;
    padding: 0 39px;
    height: 84px;
    margin-top: 0;
    z-index: 1;


}





.nav-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo a img {
    filter: invert(100%);
}

.nav-logo a span {
    font-family: "Sharpie-Black";
    font-size: 22.7pt;
    color: white;

}

.topnav {
    overflow: hidden;
    display: flex;
    text-align: center
}

.topnav li a {
    font-size: 16pt;
    font-weight: 700;
    text-transform: uppercase;
    color: #f1f1f1;
    text-align: center;
    text-decoration: none;
    padding: 29px 20px;
    display: inline-block;


}

.topnav a span:hover {
    color: #ffda83;
    border-bottom: 5px solid #ffb200;
    padding-bottom: 5px;
    cursor: pointer;

}





#login-buttons {

    display: flex;
    gap: 33px;
}


#login-buttons button {
    font-size: 18.84pt;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}






.login {
    background-color: #ffb200;
}

.signup {
    color: #ffb200;
    background-color: transparent;
    border: 2px solid #ffb200;
}



.login:hover {
    color: white;
    border: 3px solid white;
    transition: color 0.3s ease, border 0.3s ease;

}

.signup:hover {
    background-color: #ffb200;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;

}



/* Hero Section */




#hero {
    min-width: 1280px;
    position: absolute;
    min-height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    background-image: url('../img/hero-background.png');
    background-size: cover;

}

.column {
    height: 800px;
}

.row {
    color: white;
    top: 84px;


}

.left {
    
    width: 54%;
    text-align: center;
   

}

.row {
   
    top: 84px;
    position: relative;
    height: 800px;
    overflow: hidden;

}

.hero-caption {
    position: absolute;
    left: 0;
    padding-top: 165px;
    padding-left: 20px;





}

.hero-header {
    font-family: "Open Sans";
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
    font-size: 55px;
    line-height: 43.45pt;
    letter-spacing: 2px;
    -webkit-text-stroke: 3px white;




}

.hero-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 10px;

}



.get-started {
    background-color: #ffb200;
    color: black;
}

.browse-menu {
    color: white;
    background-color: black;

}

#hero-caption-buttons button {
    border: none;
    border-radius: 30px;
    font-size: 13px;
    width: 203px;
    height: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px;
    cursor: pointer;
}

#hero-caption-buttons {
    display: flex;
    justify-content: center;
    gap: 29px;
   
}

.right{
    position:relative;
    float:right;
    width: 47%;

}

.hero-image{
   
  
}
#hero-burger{
position:absolute;
top:102px;
left:0;
float:right


}
#hero-fries{
z-index:-1;
top:0;
float:right

}

#hero-lettuce{
position:absolute;
z-index:1;
margin-left:0;
bottom:0;


}
