@import url('sharpie.css');
@import url('open sans.css');

body {
    font-family: "Open Sans", san-serif;
    margin: 0;
    position:relative;
    

}


.flex-container{
    display:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type:none;
    position:relative;
    overflow:hidden;
    background-color:black;
    padding: 0 39px;
    height: 84px;
    margin-top:0;
    z-index: 1;
    
    
}





.nav-logo a{
    display:flex;
    align-items: center;
    text-decoration: none;
}

.nav-logo a img {
    filter: invert(100%);
}

.nav-logo a span {
    font-family: "Sharpie-Black";
    font-size: 22.7pt;
    color: white;

}

.topnav{
    overflow: hidden;
    display:flex;
    text-align: center
}

.topnav li a {
    font-size: 16pt;
    font-weight: 700;
    text-transform: uppercase;
    color: #f1f1f1;
    text-align: center;
    text-decoration: none;
    padding: 29px 20px;
    display: inline-block;
    

}

.topnav a span:hover {
    color: #ffda83;
    border-bottom: 5px solid #ffb200;
    padding-bottom: 5px;
    cursor:pointer;
    
}

.topnav li:active{
    color: #ffda83;
    border-bottom: 5px solid #ffb200;
    padding-bottom: 1px;
    

}



#login-buttons{
      
    display: flex;
    gap:33px;
}


#login-buttons button {
    font-size: 18.84pt;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}






.login {
    background-color: #ffb200;
}

.signup {
    color: #ffb200;
    background-color: transparent;
    border: 2px solid #ffb200;
}



.login:hover {
    color: white;
    border: 3px solid white;
    transition: color 0.3s ease, border 0.3s ease;

}

.signup:hover {
    background-color: #ffb200;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;

}



/* Hero Section */




#hero {
    min-width: 1280px;
    position: absolute;
    min-height: 100vh;
    left:0;
    top: 0;
    right:0;
    background-image: url('../img/hero-background.png');
    background-size: cover;
    
}

.column {
    height: 800px;
}

.row {
    color: white;
    top: 84px;
    width: 100%;

}

.left {
    width: 55%;
    padding-left: 77px;
}

.hero-caption {
    margin-top: 254px;
    border: 1px solid #333;

}

.hero-header {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 50.52pt;
    line-height: 49pt;

}

.hero-text {
    font-size: 22pt;
    font-weight: 500;
    line-height: 32.37pt;
    margin-top: 23px;
}