@import url('sharpie.css');
@import url('open sans.css');

body {
    font-family: "Open Sans", san-serif;
    margin: 0;
}





.flex-container {
    position: fixed;
    padding: 0px;
    display: flex;
    background-color: black;
    height: 84px;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 2;
    
    

}

.flex-container > div {
   
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 39px;
    margin-right: 39px;
    
}

.nav-logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    z-index:2;
}

.nav-logo a img {
    filter: invert(100%);
}

.nav-logo a span {
    font-family: "Sharpie-Black";
    font-size: 22.7pt;
    color: white;

}

.topnav {
    overflow: visible;
    display: flex;
    gap: 33px;
    z-index:2;


}

.topnav a {
    font-size: 16pt;
    font-weight: 700;
    text-transform: uppercase;
    color: #f1f1f1;
    float: left;
    text-decoration: none;

}


.topnav a:hover {
    color: #ffda83;
    text-decoration: none;
    display: inline-block;
    border-bottom: 5px solid #ffb200;
    padding-bottom: 5px;

}


#login-buttons {
    display: flex;
    gap: 30px;
}

#login-buttons button {
    font-size: 18.84pt;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}


.login {
    background-color: #ffb200;
}

.signup {
    color: #ffb200;
    background-color: transparent;
    border: 2px solid #ffb200;
}



.login:hover {
    color: white;
    border: 3px solid white;
    transition: color 0.3s ease, border 0.3s ease;

}

.signup:hover {
    background-color: #ffb200;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;

}



/* Hero Section */




.image-container {
  position: relative;
  text-align: center;
  width: 1280px;
  height: 880px;

 
}

.hero-background{
    position: abosulute;
    color:white;
    text-align:center;
    


}
.column{
    height: 800px;
}

.row {
    display: flex;
    position: absolute;
    color:white;
    top: 84px;
    width: 100%;
   
}

.left{
    width:55%;
    padding-left: 77px;
}
  
.hero-caption{
    margin-top: 171px;
    
}
.hero-header{
    font-family: "Open Sans";
      font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-size: 50.52pt;
    line-height:49pt;
    
}
.hero-text{
    font-size: 22pt;
    font-weight: 500;
    line-height: 32.37pt;
    margin-top: 23px;
}